<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="SqlServerConnString" connectionString="server=OYXF;database=WebDB;uid=sa;pwd=xiaofeng" providerName="System.Data.SqlClient" />
    <add name="SqliteConnString" connectionString="Data Source=C:\Users\admin\Desktop\1.db;Version=3;" providerName="System.Data.SQLite" />
    <add name="MySqlConnString" connectionString="server=localhost;database=test;uid=root;pwd=root;charset=utf8" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>