<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="SqlServerConnString" connectionString="server=OYXF;database=WebDB;uid=sa;pwd=xiaofeng" providerName="System.Data.SqlClient" />
    <add name="SqliteConnString" connectionString="Data Source=C:\Users\admin\Desktop\1.db;Version=3;" providerName="System.Data.SQLite" />
    <add name="MySqlConnString" connectionString="server=localhost;database=test;uid=root;pwd=root;charset=utf8" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SqlServerConnString" value="server=OYXF;database=WebDB;uid=sa;pwd=xiaofeng"/>
    <add key="网站根路径" value=""/>
    <add key="wkhtmltopdf可执行文件路径" value="C:\Users\admin\Desktop\OYXFCode\Lib\wkhtmltopdf.exe"/>
  </appSettings>
</configuration>
